.banner {
    background-color: #f0f0f0;
    float: left;
    width: 100%;
    background-image: url(../../../../public/assets/images/banner.jpg);
    background-position: center top;
    background-size: cover;
    padding-bottom: 140px;
    margin-top: 90px;
    }
  /* .banner-container{  
    background: #f2f2f2e3;
    border-radius: 0px 0px 40px 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 18px;
    margin: 0 18px;
    margin-bottom: 50px;
  } */
  
  .banner-container img{
    width: 100%;
    max-width: 50px;
    margin: 0 auto;
    display: block;
  
  }
  .banner-container h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px !important;
    text-align: center;
    color: #149699;
  }
  .banner-search{
    max-width: 500px;
    margin: 0 auto;
  
  }
  .banner-search input{
    height: 60px;
    background-color: #f8f8f8 !important;
  }
  .banner-search button{
    background: #fff;
    border: none;
    color: #000;
    font-size: 20px;
    padding: 0 30px;
  }
  .banner-search button:hover{
    background: #135f74;
    color: #fff;
  }
  @media only screen and (max-width: 991px) {
    .banner-container img {
        max-width:30px;
  
    }
    .banner-container h4 {
        margin-top: 10px;
        font-size: 13px !important;
    }
  }
  
  
  /* style.module.css */
  .banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* .banner-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  
  .banner-container img {
    max-width: 50px;
    margin-bottom: 10px;
  }
  .only-stiky{
    display: none;
  }
  .sticky .only-stiky{
    display: block;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: none;
    padding-bottom: 0;
    z-index: 10000;
    transition: all 0.3s ease; /* Smooth transition for background, padding, etc. */
  }
  .sticky .serch-div{ display: none;}
  .sticky .banner-container{ margin-bottom: 0;}
  .sticky .banner-box img {
    max-width: 25px;
    margin-bottom: 0;
  }
  .sticky .banner-container h4 {
    font-size: 12px !important;
    margin-top: 10px;
  }
  .sticky .banner-container {
    padding: 5px 10px;
    background-color: #ffff;
  }
  /* .sticky .banner-container div {
    margin: 0 20px;
  } */
  /* .sticky .banner-container div {
    justify-content: center;
  } */
  
  .banner-box{
    background: #f2f2f2e3;
    border-radius: 0 0 40px 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 18px;
    margin: 0 18px 50px;
    float: left;
    width: 100%;
  }
  .banner-box div{
    width:25% ;
  }
  
  
  .sticky .banner-box{
    justify-content: center;
    width: auto;
    margin-bottom: 0;
    background-color:#fff;
    padding: 5px 0;
  }
  .sticky .banner-box div{
    margin: 0 15px;
  }
  /* .sticky .only-stiky{ display: block;} */
  
  .profile-icon {
    max-width: 25px !important;
    margin-right: 9px !important;
  }
  .banner-box-logo{
    max-width: 200px !important;
  }











  
  .banner-search{
    max-width: 500px;
    margin: 0 auto;
  
  }
  .banner-search input{
    height: 60px;
    background: #f8f8f800 !important;
    border-radius: 100px;
    border-top-left-radius:100px !important;
    border-bottom-left-radius:100px !important;
    padding-left: 55px;
    color: #fff !important;
  }
  .banner-search input:focus{
    background: #f8f8f800 !important;
    border: solid 1px #fff !important;

  }

  .banner-search button {
    background: #f8f8f800;
    border: none;
    color: #ffffff;
    font-size: 28px;
    padding: 0 15px;
    border-radius: 60px;
    margin-right: -60px;
}

  .banner-search button:hover{
    background: #f8f8f800;
    color: #135f74;
  }



  
  @media only screen and (max-width: 991px) {
    
    .banner-container img {
        max-width: 30px !important;
        margin-bottom: 10px;
      }
      .banner-box {
        margin: 0 0 15px 0;
    }
    .only-stiky {
      display: none !important;
  }
  .banner-container {
    justify-content: center;
  }
  .sticky {
    display: none;
  }
  .banner {
    margin-top: 87px;
  }
    }
  
  
  
    @media (min-width:576px) and (max-width:991px) {
   
   
    }