.home-countries {
    float: left;
    width: 100%;
    padding: 50px 0 0 0;
}

.home-countries img{
    border-radius: 15px;
    max-width: 130px;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
} 
.title-countries {
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    z-index: 10;
    position: relative;
    color: #fff;
    margin-bottom: 50px;
}
.title-countries h4 { color: #000;margin-bottom: 0;}
.title-countries h3 { margin-bottom: 0;}
/* tab */
.country-container-box{     float: left;
    width: 100%;}
.country-container{     float: left;
    width: 100%;}
.country-nav-tabs{ color:#000;}
.country-nav-item{ color:#000; margin-bottom: 10px;}
.country-nav-link {
    background-color: #e6e6e6 !important;
    color: #ffffff !important;
    border-radius: 6px !important;
    margin-right: 10px;
    padding: 8px 20px !important;
}
.country-tab {
    float: left;
    width: 100%;
    padding:15px 0;
}
.country-tab img{ border-radius: 15px;} 
.country-tabslide-text {
    float: left;
    width: 100%;
    padding: 60px 40px;
    margin-top: -214px;
    z-index: 10;
    background-color: #ffffff;
    position: relative;
    color: #fff;
    max-width: 625px;
    margin-left: 15px;
    border-bottom: solid 4px #009597;
    /* text-align: justify; */
}
.country-tabslide-text h4{color: #000;
    font-size: 20px !important;}
.country-tabslide-text h5{color: #009597;
    font-size: 16px !important;}
.country-tabslide-text p{color:#999;}
/* .bg-black-shade{
    background-color: #1560746e;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    border-radius: 15px;
} */

.country-explore-item{
    border-radius:15px;
}
.country-explore-text{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    float: left;
    width: 100%;
}
.country-explore-item{
    /* box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.04); */
    float: left;
    width: 100%;
    border-radius: 15px;
    position: relative;
    border: solid 1px #E4E4E4;
}
.country-explore-item img{
    border-radius: 10px 10px 0px 0px;
}
.country-explore-item p{
    margin-bottom: 0;
}
.documentation-container{
    float: left;
    width: 100%;
    border:solid 1px #ccc;
    padding: 15px;
    border-radius:10px;
    margin-top: 15px;
}

.documentation-container .col-md-4{ margin-bottom: 15px;}
.check-cotainer{ margin-bottom: 15px;}
.around-nav-link{
    font-size: 40px;
    padding: 10px 10px;
    line-height: 10px;
    background-color: #a0daca !important;
    color: #fff !important;
    border-radius: 6px !important;
    margin-right: 10px;
}
.country-table {  
}
.country-table thead th{
    color: #009597;
}
.country-table .border{  
    border:solid 1px #000;
}
.bg-1{
    background-color:#d1fef2 !important;
}
.country-table tbody tr td p{
    margin-bottom: 0;
    padding: 10px 0;

}
.country-table tbody tr td{
    vertical-align: middle;

}


/* Experiance */

/* entire container, keeps perspective */
.flip-container .owl-nav {
    display: none;
}
.back h3  {
    font-size: 50px !important;
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 0;
}
.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
      perspective: 1000;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
      transform-style: preserve-3d;
      margin-bottom: 30px;
  }
  
  .flip-container, .front, .back {
      width: 100%;
      height: 320px;
      border-radius:20px;
     
  }
  
  .front, .back {
    -webkit-box-shadow: -1px -1px 5px 0px rgba(0,0,0,0.41);
      -moz-box-shadow: -1px -1px 5px 0px rgba(0,0,0,0.41);
      box-shadow: -1px -1px 5px 0px rgba(0,0,0,0.41);
    text-align: center;
    background-color:#fff;
  }
  
  .back {
    background: #009597;
    color: #fff;
    padding:20px;
  }
  
  span .h3, .back h3 {
    text-transform: uppercase;
  }
  
  .front h3 {
    font-weight: normal;
    margin-top: 0;
  }
  
  .front h3:after {
    content: "";
    height: 2px;
    width: 40px;
    display: block;
    background: rgba(0,0,0,0.1);
    margin: 15px auto;
  }
  
  .block-content {
    padding: 15px 0px 20px 0px;
  }
  
  .front h2 {
    font-size: 22px;
    font-weight: normal;
    line-height: 28px;
  }
.tag {
    color: #000;
    display: inline-block;
    font-size: 12px;
    padding: 8px;
    border-radius: 15px;
  }
  .tag i{ margin-right: 10px;}
  .back p {
    margin: 30px 0;
    line-height: 20px;
    text-align: justify;
    margin-top: 10px;
}
  
  .back a {
    color: #fff !important;
    text-decoration: none;
    display: block;
    transition: all 200ms ease-in-out;
  }
  .back .tag{
    color: #fff !important;
  }
  .back .button:hover,
  .back .button:focus {
    background: #d1fef2 !important;
    border: solid 2px #d1fef2 !important;
  }
  
  /* flip speed goes here */
  .flipper {
      transition: 0.4s;
      transform-style: preserve-3d;
    margin: 0 10px;
      position: relative;
  }
  
  /* hide back of pane during swap */
  .front, .back {
      backface-visibility: hidden;
      transition: 0.6s;
      transform-style: preserve-3d;
  
      position: absolute;
      top: 0;
      left: 0;
  }
  
  /*  UPDATED! front pane, placed above back */
  .front {
      z-index: 2;
      transform: rotateY(0deg);
  }
  
  /* back, initially hidden pane */
  .back {
      transform: rotateY(-180deg);
  }
  
  /*  UPDATED! flip the pane when hovered */
      .flip-container:hover .back {
          transform: rotateY(0deg);
      }
      .flip-container:hover .front {
          transform: rotateY(180deg);
      }
      .front img{
border-radius:15px 15px 0 0;
      }
      .tag p{ padding-left: 10px;}
      .tag span{ margin-right:10px;}
    
.ul-container{
    float: left;
    width: 100%;
}
.item-padding{
    padding:0 10px;
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.item-padding .country-explore-item:hover{
    -webkit-box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.24);
    box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.24);
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}
.item-padding .country-explore-item:hover #Circle_Chev_Right {
    background-color: #009597;
    border-radius: 50%;
}
.item-padding .country-explore-item{
    margin-bottom: 15px;
}
.icon-next svg{
    font-size: 50px;
    color: #ccc;
}
.important_numbers{
    float: left;
    width: 100%;
    display: flex;
    margin-bottom: 15px;
}
.important_numbers img{
    margin-right: 10px;
}
.important_numbers span p{
    margin-bottom: 0;

}

.important_numbers span p:nth-child(2){
    color: #ccc;
}










      @media only screen and (max-width: 991px) {
        .title-countries {
            margin-bottom: 30px;
        }
        .home-countries{
            padding-bottom: 0;
            padding-top: 15px;
        }
        .country-container-box .country-nav-tabs{
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: min-content;
            overflow-y: hidden;
            overflow-x: scroll;
        }
        .country-container-box .country-nav-tabs li button{
            color: #000;
            min-width: 231px;
            text-align: center;
        }

        .country-tabslide-text {
            padding: 10px;
            margin-top: 0;
            margin-left: 0;
        }
        .mpt-15{ padding-top: 15px;}
        .section-documentation {
            padding: 15px 0;
        }
        .section-documentation {
            padding: 15px 0;
        }   
        .flip-container, .front, .back {
            height: 360px;
           
        } 
        .home-countries img{
            max-width: 75px;
        } 
         

 
      }

      @media screen and (max-width: 1023px) and (min-width: 992px) {
        .country-tabslide-text {
            margin-top: 0;
        }
        .block-content {
            margin-top: -13px;
        }
        .block-content h4 {
            margin-bottom: 0;
        }
      }
      
 

