.event-banner{
    float: left;
    width: 100%;
    padding: 80px 0;
}
.event-banner img{
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
}
.event-banner-text h1{
    font-size: 90px;
    text-align: center;

}
.event-banner-text button{
    background: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 12px 20px;
    font-weight: 700;
    color: #000;
    max-width: 200px;
    margin: 0 auto;
    margin-top: 25px;
    display: block;
    margin-bottom: 50px;

}
.event-banner-text{
    margin-top: -160px;
}
.event-banner h3{
 font-size: 40px;
 font-weight: 300;
 margin-bottom: 15px;
}
.event-banner h4{
    font-size: 25px;
    font-weight: 300;
    color: #fff;
   }
.event-banner-text p{
    font-size: 16px;
   }
