/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/home/style.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/


.style_item__oukf1{
    color: #fff; 
    float: left; 
    width: 100%;
    position: relative;
    height: auto;
}
.style_item-padding__f8zZM{
    padding:15px;
    float: left; 
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #1E1E1E;
    border: solid 3px #393939;

}

.style_our-screen-box__ZhtWr img{width: 100%;    -webkit-clip-path: polygon(15% 0, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 24%);    clip-path: polygon(15% 0, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 24%);  }
.style_our-screen-box__ZhtWr h3{ color: #fff; font-size: 16px;margin: 15px 0 0 0;}
.style_our-screen-box__ZhtWr h4{color: #9FDEBE; font-size: 21px; margin: 0 0 15px 0;}

.style_our-screen-box__ZhtWr .style_button-section__TP5Gu {color: #fff; display: flex; justify-content: space-between;  }
.style_our-screen-box__ZhtWr .style_button-section__TP5Gu button:first-child {
    font-size: 13px;
    background-color: #393939;
    padding: 15px 30px;
    text-transform: uppercase;
}
.style_our-screen-box__ZhtWr .style_button-section__TP5Gu button:last-child { font-size: 16px;}
.style_perfect-box__NQbLD{
    background-color: #141414;
    float: left;
    width: 100%;
    padding: 30px;
}

.style_perfect-box__NQbLD h4{
  font-size: 25px;
  float: left;
  width: 100%;
  padding: 10px 0;
  color: #fff;
  font-weight: 300;
}
.style_perfect-box__NQbLD p{
  font-size: 16px;
  letter-spacing: .5px;
}
.style_perfect-box-container__Eq7qv  {
  column-gap: 6rem;
  row-gap: 3rem;
}



/* banner */

.style_banner__1Oto4 {
    position: relative;
    width: calc(100% - 128px);
    overflow: hidden;
    margin: 64px 64px 64px 64px;
    /* background: red; */
    height: calc(100vh - 128px);
  }
    
    .style_banner-video__WFY7H {
      position: relative;
      /* top: 50%; */
      /* left: 50%; */
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      /* transform: translate(-50%, -50%); */
      object-fit: cover;
  }
    
    .style_banner-content__puXPx {
      position: absolute;
      top: 0;
      left: 150px;
      /* transform: translate(-50%, -50%); */
      text-align: left;
      color: white;
      z-index: 40;
      /* position: relative; */
  }
    
    .style_banner-content__puXPx h1 {
      font-size: 73px;
      margin-bottom: 0;
    }
    
    .style_banner-content__puXPx h2 {
      font-size: 73px;
      color: #9A9A9A;
    }
  
    .style_nav-banner-container__yokxt{
      background-color: #000;
      float: left;
      width: 100%;
    }
  
    .style_talk-btn__pHLhC {
      position: absolute;
      bottom: 15px;
      background: #fff;
      font-size: 14px;
      text-transform: uppercase;
      padding: 12px 20px;
      margin-left: 15px;
      font-weight: 700;
      color: #000;
  }

/* Product */

/* Products Screen Size  */
.style_products-screen-size__JSARE{
    float: left;
    width: 100%;
    background:#141414;
    padding: 80px 0;
    border-radius:0 0 15px 15px;
  }
  .style_products-screen-size-container__Tcc77 {
    float: left;
    width: 100%;
    padding: 0 15px;
  }
  
  .style_screen-div__66Y_w div div{
    background-color: #383838;
    border: dashed 1px #999999;
    width: 100%;
    min-height: 600px;
    position: absolute;
  }
  .style_screen-div-inner__eKojA{
    min-height: 600px;
    position: relative;
  
  }
  .style_screen-div__66Y_w div div:nth-child(1) {
    background: #383838;
    width: 100%;
    min-height: 600px;
    bottom: 0;
  }
  .style_screen-div__66Y_w div div:nth-child(2) {
    background: #383838;
    width: 70%;
    min-height: 440px;
    bottom: 0;
  }
  .style_screen-div__66Y_w div div:nth-child(3) {
    background:  #383838;
    width: 40%;
    min-height: 290px;
    bottom: 0;
  }
  .style_screen-div__66Y_w div div:nth-child(4) {
    background:  #383838;
    width: 30%;
    min-height: 220px;
    bottom: 0;
  }
  .style_screen-div__66Y_w div div:nth-child(5) {
    background:  #383838;
    width: 20%;
    min-height: 150px;
    bottom: 0;
  }
  .style_screen-div__66Y_w div div:nth-child(6) {
    background:  #383838;
    width: 10%;
    min-height: 110px;
    bottom: 0;
  }
  .style_screen-btn__Y0j9n{
    background: #9FDEBE;
    padding: 10px 15px;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 600;
    z-index: 1;
    position: relative;
  }
  .style_men-img__DhKCF{
    position: absolute;
    right: 0;
    bottom: 0px;
  }
  .style_screen-number__KN4Bb{
    font-weight: 100;
    margin-bottom: 30px;
  }
  .style_active-screen__Bd04C{
    background-color: #fff !important;
  }




  
.style_home-displays__1N_KQ{
    float: left;
    width: 100%;
    padding: 80px 0;
  }
  .style_home-displays-text__z_T8Q {
    border-top: solid 1px #3B3B3B;
    border-bottom: solid 1px #3B3B3B;
    float: left;
    width: 100%;
    max-width: 400px;
    padding: 20px 0;
    margin-bottom: 20px;
  }
  .style_home-displays-text__z_T8Q p{
    max-width: 350px;
    font-size: 16px;  
  }
  .style_home-displays__1N_KQ .style_btn-one__BU2fF{
    background: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 12px 20px;
    margin-left: 15px;
    font-weight: 700;
    color: #000;
    float: right;
  }

  /* Screens */
  .style_home-Screens__CgNjq{
    float: left;
    width: 100%;
    padding: 80px 0 0 0;
    overflow: hidden;
  }
.style_all-products-btn__FnV_t{
    background: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 12px 20px;
    font-weight: 700;
    color: #000; 
}
.style_center-btn__JZfZI{
  background: #fff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 12px 20px;
  font-weight: 700;
  color: #000; 
  max-width: 200px;
  margin: 0 auto;
  margin-top: 25px;

}
.style_home-Screens-Carousel__5W0PW{
    float: left;
    width: 100%;
}


.style_item-padding-frame__xfeVQ{
  /* background-image: url(../../../../public/images/bg-box.png); */
  background: linear-gradient(132deg, rgba(7, 32, 93, 0) 7.9%, #1E1E1E 8.2%, #1E1E1E 100%);
  float: left;
  width: 100%;
  padding: 15px 15px;
  border: solid 2px #393939;
  position: relative;
  border-radius: 15px;
}
/* .item-padding-frame::after {
  content: ".";
} */
.style_our-screen-box__ZhtWr{ 
  color: #fff;
  /* background-color: #1E1E1E;
  border: solid 1px #393939; */
  /* padding: 15px; */
}
.style_triangle__Sc9MC {
  background-color: #393939;
    height: 143px;
    width: 143px;
    position: absolute;
    top: -38px;
    left: -37px;
    -webkit-clip-path: polygon(25% 25%, 75% 25%, 50% 50%, 25% 75%);
            clip-path: polygon(25% 25%, 75% 25%, 50% 50%, 25% 75%);
    border: solid 2px #fff;
}
.style_triangle2__ZhAam {
  background-color: #000000;
    height: 138px;
    width: 138px;
    position: absolute;
    top: -37px;
    left: -37px;
    -webkit-clip-path: polygon(25% 25%, 75% 25%, 50% 50%, 25% 75%);
            clip-path: polygon(25% 25%, 75% 25%, 50% 50%, 25% 75%);
    border: solid 2px #fff;
}



  /* .home-perfect */
  .style_home-perfect__1zMAq{
    float: left;
    width: 100%;
    padding: 80px 0;
  }
  .style_title-p___szzA{ color: #fff; font-size: 30px; max-width: 782px;line-height: 35px; margin-bottom: 25px;}
  .style_title-p___szzA span{ color: #9A9A9A; }
  
  
  /* home-create-a-wow-moment */
.style_home-create-a-wow-moment__sGKfU{

  float: left;
    width: 100%;
    padding: 80px 0;
}

.style_perfect-box__NQbLD img{
  width: 100%;
}



/* home-experience */

.style_home-experience__cfV5L{
  float: left;
    width: 100%;
    padding: 0px 15px;
    overflow: hidden;

}
.style_home-experience__cfV5L h3{
  margin: 0 0;
  line-height: 35px;

  
}

.style_experience-box-container__aUlMI  {
  column-gap: 3rem;
  row-gap: 3rem;

  max-width: 1175px;
  margin: 0 auto;
  margin-top: 50px;
}
.style_experience-box__AXKb_{
  float: left;
  width: 100%;
  background: linear-gradient(224deg, rgba(7, 32, 93, 0) 7.9%, #1E1E1E 8.2%, #1E1E1E 100%);
  padding: 50px;
}

.style_experience-box__AXKb_ h4{
  float: left;
  font-size: 25px;
  width: 100%;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff;
 }
.style_experience-box__AXKb_ p{float: left;
  font-size: 16px;
  letter-spacing: .5px;
  width: 100%;
  color: #fff;
 }
.style_experience-box__AXKb_ img{
  float: left;
  max-width: 45px;
  width: 100%;
  margin-bottom: 15px;
}


.style_home-experience-container__07Pye{
  float: left;
    width: 100%;
    background: #141414;
    padding: 80px 0;
    border-radius: 15px;
    padding-bottom: 0;
}

.style_full-video__p5la5{
  float: left;
  width: 100%;
  margin-top: 80px;
}

/* lets-talk */

.style_lets-talk__OR2Fz h3 {
  color: #fff;
  font-size: 100px;
  font-weight: bold;
  margin: 33px 0;
}
.style_lets-talk__OR2Fz h2{ 
  color: #fff;
}
.style_lets-talk__OR2Fz img{
  margin: 0 auto;
  margin-top: -20px;
  width: 100%;
  max-width: 70%;
}
.style_lets-talk__OR2Fz { 
  /* background-image: url('../../../../public/images/dot-bg.png'); */
}
.style_lets-talk-text__6TNWL{
  max-width: 450px;
    text-align: center;
    margin: 0 auto;
    margin-top: -390px;
    padding-bottom: 100px;
}
@media (min-width:769px) and (max-width:1250px) {
    .style_header-top__JFLt7 a {
      font-size: 12px !important;
    }

    .style_screen-div-inner__eKojA {
        min-height: 450px;
    }
    .style_screen-div__66Y_w div div:nth-child(1) {
        width: 100%;
        min-height: 450px;
      }
      .style_screen-div__66Y_w div div:nth-child(2) {
        width: 80%;
        min-height: 380px;
      }
      .style_screen-div__66Y_w div div:nth-child(3) {
        width: 60%;
        min-height: 300px;
      }
      .style_screen-div__66Y_w div div:nth-child(4) {
        width: 30%;
        min-height: 220px;
      }
      .style_screen-div__66Y_w div div:nth-child(5) {
        width: 20%;
        min-height: 150px;
      }
      .style_screen-div__66Y_w div div:nth-child(6) {
        width: 10%;
        min-height: 110px;
      }
      .style_next-img__A_TpL{
        max-width: 30px;
        margin: 0 auto;
      }
      .style_screen-btn__Y0j9n {
        padding: 15px 15px;
    }
 
  }


  

@media (max-width: 768px) {
    .style_banner-content__puXPx h1 {
      font-size: 2rem;
    }
  
    .style_banner-content__puXPx p {
      font-size: 1rem;
    }
    .style_banner-content__puXPx {
      left: 15px;
  }
  .style_banner__1Oto4 {
    width: 100%;
    margin: 0 0 0 0;
    height: auto;
  }
  .style_banner-content__puXPx {
    left: 15px !important;
}

.style_screen-div-inner__eKojA {
    min-height: 300px;
}
.style_screen-div__66Y_w div div:nth-child(1) {
    width: 100%;
    min-height: 300px;
  }
  .style_screen-div__66Y_w div div:nth-child(2) {
    width: 80%;
    min-height: 250px;
  }
  .style_screen-div__66Y_w div div:nth-child(3) {
    width: 60%;
    min-height: 200px;
  }
  .style_screen-div__66Y_w div div:nth-child(4) {
    width: 40%;
    min-height: 150px;
  }
  .style_screen-div__66Y_w div div:nth-child(5) {
    width: 28%;
    min-height: 100px;
  }
  .style_screen-div__66Y_w div div:nth-child(6) {
    width: 10%;
    min-height: 50px;
  }
  .style_next-img__A_TpL{
    max-width: 30px;
    margin: 0 auto;
  }
  .style_screen-btn__Y0j9n {
    padding: 5px 9px;
    font-size: 10px;
    margin-right: 5px;
    margin-top: 5px;
}
.style_products-screen-size__JSARE  {
    padding: 40px 15px;
    margin: 0px 0;
}
.style_products-screen-size-container__Tcc77 {
    padding: 0 0px;
  }
  .style_home-displays__1N_KQ {
    padding: 40px 15px;
}
.style_home-displays__1N_KQ h2 {
    font-size: 25px;
}
.style_triangle__Sc9MC {
  background-color: #393939;
        height: 140px;
        width: 74px;
        position: absolute;
        top: -47px;
        left: -20px;
}
.style_triangle2__ZhAam {
  background-color: #000000;
  height: 140px;
  width: 74px;
  position: absolute;
  top: -46px;
  left: -23px;
    -webkit-clip-path: polygon(25% 25%, 75% 25%, 50% 50%, 25% 75%);
            clip-path: polygon(25% 25%, 75% 25%, 50% 50%, 25% 75%);
    border: solid 2px #fff;
}
.style_home-Screens__CgNjq{
  padding: 40px 15px;
}





  }
  
  
  @media (max-width: 1250px) {
    .style_banner-content__puXPx {
      left: 70px;
      top: 25px;
  }
  .style_banner-content__puXPx h1 {
    font-size: 35px;
  }
  .style_banner-content__puXPx h2 {
    font-size: 35px;
    margin-top: -16px;
  }
  .style_talk-btn__pHLhC {
    bottom: 30px;
  }



  
  

  
  
  }

